body {
    margin: 50px;
    padding: 0;
    /* padding: 100px; */
    background-color: grey;
}

.container {
    max-width: 800px;
    margin: auto;
    border: white solid 3px;
    background-color: white;
}

.main-img img,
.imgs img {
    width: 100%;

}

.imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
}